---
import BaseLayout from '@layouts/BaseLayout.astro';
import { Img } from 'astro-imagetools/components';
import { Markdown } from 'astro/components';
import * as about from './about.md';

const title = 'About Me';
const description = 'Everything you never needed to know about me, John Eatmon.';
---

<BaseLayout {title} {description}>
	<Img
		src="/src/img/me.png"
		alt="A picture of me, John Eatmon, standing in front of a snowy Mount Rainier on a sunny day."
		preload="avif"
		loading="eager"
	/>
	<section class="content">
		<!-- @prettier-ignore -->
		<Markdown set:html={about.rawContent()}>

		</Markdown>
	</section>
</BaseLayout>
