@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Cyan */
    --jm-cyan-50: hsl(186, 100%, 94%);
    --jm-cyan-100: hsl(185, 94%, 87%);
    --jm-cyan-200: hsl(184, 80%, 74%);
    --jm-cyan-300: hsl(184, 65%, 59%);
    --jm-cyan-400: hsl(185, 57%, 50%);
    --jm-cyan-500: hsl(185, 62%, 45%);
    --jm-cyan-600: hsl(184, 77%, 34%);
    --jm-cyan-700: hsl(185, 81%, 29%);
    --jm-cyan-800: hsl(185, 84%, 25%);
    --jm-cyan-900: hsl(185, 91%, 17%);
    /* Pink */
    --jm-magenta-50: hsl(329, 100%, 94%);
    --jm-magenta-100: hsl(330, 87%, 85%);
    --jm-magenta-200: hsl(330, 77%, 76%);
    --jm-magenta-300: hsl(330, 72%, 65%);
    --jm-magenta-400: hsl(330, 66%, 57%);
    --jm-magenta-500: hsl(330, 63%, 47%);
    --jm-magenta-600: hsl(330, 68%, 40%);
    --jm-magenta-700: hsl(330, 70%, 36%);
    --jm-magenta-800: hsl(331, 74%, 27%);
    --jm-magenta-900: hsl(330, 79%, 20%);
    /* Indigo */
    --jm-indigo-50: hsl(221, 68%, 93%);
    --jm-indigo-100: hsl(221, 78%, 86%);
    --jm-indigo-200: hsl(224, 67%, 76%);
    --jm-indigo-300: hsl(225, 57%, 67%);
    --jm-indigo-400: hsl(227, 50%, 59%);
    --jm-indigo-500: hsl(227, 42%, 51%);
    --jm-indigo-600: hsl(228, 45%, 45%);
    --jm-indigo-700: hsl(230, 49%, 41%);
    --jm-indigo-800: hsl(232, 51%, 36%);
    --jm-indigo-900: hsl(234, 62%, 26%);
    /* Blue Gray */
    --jm-blueGray-50: hsl(210, 36%, 96%);
    --jm-blueGray-100: hsl(212, 33%, 89%);
    --jm-blueGray-200: hsl(210, 31%, 80%);
    --jm-blueGray-300: hsl(211, 27%, 70%);
    --jm-blueGray-400: hsl(209, 23%, 60%);
    --jm-blueGray-500: hsl(210, 22%, 49%);
    --jm-blueGray-600: hsl(209, 28%, 39%);
    --jm-blueGray-700: hsl(209, 34%, 30%);
    --jm-blueGray-800: hsl(211, 39%, 23%);
    --jm-blueGray-900: hsl(209, 61%, 16%);
  }
}
