@import 'reset';

@font-face {
	font-family: 'General Sans';
	src: url('/fonts/general-sans/GeneralSans-Variable.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
	text-rendering: auto;
}

@font-face {
	font-family: 'General Sans';
	src: url('/fonts/general-sans/GeneralSans-VariableItalic.woff2') format('woff2');
	font-style: italic;
	font-display: swap;
	text-rendering: auto;
}

:root {
	--color-bg: 67, 15%, 88%;
	--color-copy: 330, 2%, 18%;
	--color-accent: 120, 21%, 36%;

	--font-stack-sans: 'General Sans', -apple-system, BlinkMacSystemFont, 'avenir next', 'avenir',
		'segoe ui', 'helvetica neue', 'helvetica', 'Cantarell', 'Ubuntu', 'roboto', 'noto', 'arial',
		sans-serif;
	--font-stack-serif: 'Iowan Old Style', 'Apple Garamond', 'Baskerville', 'Times New Roman',
		'Droid Serif', 'Times', 'Source Serif Pro', serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol';
	--font-stack-mono: 'MD IO', Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-bg: 247, 15%, 12%;
		--color-copy: 150, 2%, 82%;
	}
}

html {
	background-color: hsl(var(--color-bg));
	color: hsl(var(--color-copy));
}

html,
body {
	height: 100%;
}

body > footer {
	position: sticky;
	top: 100vh;
}

body {
	font-family: var(--font-stack-sans);
}

main,
header,
footer {
	display: grid;
	grid-template-columns: 1fr min(100% - 1rem, 75ch) 1fr;
}

main > *,
header > *,
footer > * {
	grid-column: 2;
}

footer {
	padding-block: 2rem;
}

.full-bleed {
	width: 100%;
	grid-column: 1 / -1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}

h1 {
	font-weight: 900;
	font-size: 2rem;
}

a {
	color: inherit;
	text-decoration-color: hsl(var(--color-accent));
	text-decoration-style: solid;
	text-decoration-thickness: min(1em / 8, 4px);
	text-underline-offset: min(1em / 8, 4px);

	&:hover {
		text-decoration-color: hsla(var(--color-accent), 0.3);
	}
}

.hero {
	padding-block: max(2vh, 2rem);
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid hsl(var(--color-copy), 0.1);
}

.count {
	background-color: hsl(var(--color-accent));
	color: white;
	line-height: 1;
	padding: 0.5em 1em;
	border-radius: 999em;
}

.content {
	line-height: 170%;
	padding-block: max(2vh, 2rem);

	& > * + * {
		margin-top: 2ex;
	}

	& blockquote {
		font-weight: 500;
		font-style: italic;
		color: hsl(var(--color-accent));
		padding-block: 1rem;
		max-width: 90%;
		margin-inline: auto;
		line-height: 200%;
	}

	& pre,
	& code {
		font-family: 'MD IO 0.4', var(--font-stack-mono);
		padding: 1rem 0.75rem;
		border-radius: 0.25rem;
		margin-block: 1.5rem;
	}
}

.content-footer {
	margin-block: 1rem;
	padding-block: 0.5rem;
	border-top: 1px solid hsla(var(--color-copy), 0.1);
}

.tags {
	padding-block: 0.5rem;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}
