@import 'reset';

@font-face {
	font-family: 'Gambetta';
	src: url('/fonts/gambetta/Gambetta-Variable.woff2') format('woff2');
	font-style: normal;
	text-rendering: auto;
}

@font-face {
	font-family: 'Gambetta';
	src: url('/fonts/gambetta/Gambetta-VariableItalic.woff2') format('woff2');
	font-style: italic;
	text-rendering: auto;
}

:root {
	--color-bg: 67, 15%, 88%;
	--color-copy: 330, 2%, 18%;
	--color-accent: 120, 21%, 36%;
	--color-label: white;

	--font-stack-sans: -apple-system, BlinkMacSystemFont, 'avenir next', 'avenir', 'segoe ui',
		'helvetica neue', 'helvetica', 'Cantarell', 'Ubuntu', 'roboto', 'noto', 'arial', sans-serif;
	--font-stack-serif: 'Gambetta', 'Iowan Old Style', 'Apple Garamond', 'Baskerville',
		'Times New Roman', 'Droid Serif', 'Times', 'Source Serif Pro', serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol';
	--font-stack-mono: 'MD IO 0.4', Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
		monospace;

	--type-step--1: clamp(0.83rem, calc(0.79rem + 0.2vw), 0.94rem);
	--type-step-0: clamp(1rem, calc(0.95rem + 0.24vw), 1.13rem);
	--type-step-1: clamp(1.2rem, calc(1.14rem + 0.29vw), 1.35rem);
	--type-step-2: clamp(1.44rem, calc(1.37rem + 0.35vw), 1.62rem);
	--type-step-3: clamp(1.73rem, calc(1.64rem + 0.42vw), 1.94rem);
	--type-step-4: clamp(2.07rem, calc(1.97rem + 0.5vw), 2.33rem);
	--type-step-5: clamp(2.49rem, calc(2.37rem + 0.61vw), 2.8rem);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-bg: 247, 15%, 12%;
		--color-copy: 150, 2%, 82%;
		--color-accent: 120, 22%, 70%;
		--color-label: black;
	}
}

html {
	background-color: hsl(var(--color-bg));
	color: hsl(var(--color-copy));
}

html,
body {
	height: 100%;
}

body > footer {
	position: sticky;
	top: 100vh;
}

body {
	font-family: var(--font-stack-serif);
	font-size: var(--type-step-0);
}

small,
figcaption {
	font-size: var(--type-step--1);
}

body > main,
body > header,
body > footer {
	display: grid;
	grid-template-columns: 1fr min(100% - 2rem, 60ch) 1fr;
}

main > *,
header > *,
footer > * {
	grid-column: 2;
}

footer {
	padding-block: 2rem;
}

.full-bleed {
	width: 100%;
	grid-column: 1 / 4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	line-height: 1.2;
}

h1 {
	font-size: var(--type-step-5);
}

h2 {
	font-size: var(--type-step-4);
}

h3 {
	font-size: var(--type-step-3);
}

h4 {
	font-size: var(--type-step-2);
}

h5 {
	font-size: var(--type-step-1);
}

h6 {
	font-size: var(--type-step-0);
	text-transform: uppercase;
}

a {
	color: inherit;
	text-decoration-color: hsl(var(--color-accent));
	text-decoration-style: solid;
	text-decoration-thickness: min(1em / 8, 4px);
	text-underline-offset: min(1em / 8, 4px);

	&:hover {
		text-decoration-color: hsla(var(--color-accent), 0.3);
	}
}

.hero {
	padding-block: max(2vh, 2rem);
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid hsl(var(--color-copy), 0.1);
}

.count {
	background-color: hsl(var(--color-accent));
	color: var(--color-label);
	line-height: 1;
	padding: 0.5em 1em;
	border-radius: 999em;
}

article {
	line-height: 170%;
	padding-block: max(2vh, 2rem);

	& h3 {
		border-bottom: 1px solid hsl(var(--color-copy), 0.1);
		padding-bottom: 0.25rem;
	}

	& main {
		margin-top: 2rem;

		& .callout {
			background-color: hsl(var(--color-copy), 0.25);
			padding: 1.5rem;
			margin-block: 1rem;
			border-radius: 0.25rem;
		}

		& > * + * {
			margin-top: 1em;
		}

		& figure {
			padding-block: 1rem;

			& figcaption {
				opacity: 0.8;
				margin-top: 1em;
				font-style: italic;
				text-align: center;
			}
		}

		& blockquote {
			font-weight: 500;
			font-style: italic;
			color: hsl(var(--color-accent));
			padding-block: 1rem;
			max-width: 90%;
			margin-inline: auto;
			line-height: 200%;
		}

		& pre,
		& code {
			font-family: var(--font-stack-mono);
			padding: 1rem 0.75rem;
			border-radius: 0.25rem;
			margin-block: 1.5rem;
		}
	}

	& footer {
		margin-block: 1rem;
		padding-block: 1rem;
		border-top: 1px solid hsla(var(--color-copy), 0.1);
	}
}

.tags {
	padding-block: 0.5rem;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	text-transform: lowercase;
}
