---
import BaseLayout from '@layouts/BaseLayout.astro';
import PostPreview from '@components/PostPreview.astro';

const title = 'Generalist UX Designer';
const description = 'Designer, developer, and writer from Orlando living in Tacoma.';

const posts = await Astro.glob('./posts/*.md');
const filteredPosts = await posts.filter((x) => x.frontmatter.draft != true);
---

<BaseLayout {title} {description}>
	<div class='wrapper'>
		<section class='hero' aria-labelledby='#title'>
			<h1 id='title'>Writing</h1>
			<small class='count'>
				{filteredPosts.length} post{filteredPosts.length > 1 && <span>s</span>}
			</small>
		</section>
		<section class='posts'>
			{filteredPosts.map((post) => <PostPreview post={post} />)}
		</section>
	</div>
</BaseLayout>

<style>
	.posts {
		padding-block: 2rem;
		display: flex;
		flex-direction: column;
	}
</style>
