---
import BaseLayout from '@layouts/BaseLayout.astro';
import PostPreview from '@components/PostPreview.astro';

const title = 'Content Strategy & Miscellany';
const description =
	'I’m a front-end web developer, designer, and content strategist living in Tacoma, WA.';

const posts = await Astro.glob('./posts/*.md');
const filteredPosts = await posts.filter((x) => x.frontmatter.draft != true);
---

<BaseLayout {title} {description}>
	<section class="hero" aria-labelledby="#title">
		<h1 id="title">Writing</h1>
		<small class="count">
			{filteredPosts.length} posts
		</small>
	</section>
	<section class="posts">
		{filteredPosts.map((post) => 
			<PostPreview post={post} />
		)}
	</section>
</BaseLayout>

<style>
	.posts {
		padding-block: 2rem;
		display: flex;
		flex-direction: column;
		row-gap: 1rem;
	}
</style>
