---
import MainHead from '../components/MainHead.astro';

let title = 'Multimedia Swiss Army knife';
---
<html class="h-full" lang="en">
<head>
  <MainHead title={title} />
</head>
<body class="grid min-h-screen text-white bg-gray-900 place-items-center">
  <main>
    <section class="container">
      <h1 class="mb-5 font-bold leading-none text-5xl-fluid">
        Hi, I’m John Eatmon.
      </h1>
      <p class="mb-10 text-md-fluid">
        Web design/development, UI/UX, and technical writing. Content Strategist at <a class="font-bold text-indigo-400 transition-colors duration-300 ease-in-out border-b-2 border-indigo-400 hover:text-white hover:bg-indigo-500 hover:border-indigo-500 focus:border-indigo-500 focus:bg-indigo-500 focus:text-white" href="https://getprosource.com/" rel="noopener noreferer nofollow">ProSource</a>.
      </p>
      <nav class="flex flex-wrap gap-x-10 gap-y-5">
        <div class="italic text-indigo-300">
          Find me on:
        </div>
        <ul class="flex flex-wrap gap-x-10 gap-y-2">
          <li>
            <a class="transition-colors ease-in-out border-b-2 border-transparent duraiton-300 hover:border-white focus:border-white" href="https://github.com/johnnytest4real" rel="noopener noreferer nofollow">GitHub</a>
          </li>
          <li>
            <a class="transition-colors ease-in-out border-b-2 border-transparent duraiton-300 hover:border-white focus:border-white" href="https://dribbble.com/jmaeatmontho" rel="noopener noreferer nofollow">Dribbble</a>
          </li>
          <li>
            <a class="transition-colors ease-in-out border-b-2 border-transparent duraiton-300 hover:border-white focus:border-white" href="https://soundcloud.com/meatcrayon" rel="noopener noreferer nofollow">SoundCloud</a>
          </li>
          <li>
            <a class="transition-colors ease-in-out border-b-2 border-transparent duraiton-300 hover:border-white focus:border-white" href="https://twitter.com/jmaeatmontho" rel="noopener noreferer nofollow">Twitter</a>
          </li>
          <li>
            <a class="transition-colors ease-in-out border-b-2 border-transparent duraiton-300 hover:border-white focus:border-white" href="https://www.linkedin.com/in/jmaeatmon/" rel="noopener noreferer nofollow">LinkedIn</a>
          </li>
        </ul>
      </nav>
    </section>
  </main>
</body>
</html>
