---
import MainHead from '../components/MainHead.astro';
import Navigation from '../components/Navigation.astro';

let title = 'Multimedia Swiss Army knife';
---
<html class="h-full" lang="en">
<head>
  <MainHead title={title} />
</head>
<body class="grid min-h-screen text-white bg-gray-900 place-items-center">
  <main>
    <section class="mb-20 sm:mx-4">
      <Navigation />
    </section>
    <section class="container">
      <h1 class="mb-5 font-bold leading-none text-5xl-fluid">
        Hi, I’m John Eatmon.
      </h1>
      <p class="text-md-fluid">
        Web design/development, UI/UX, and technical writing. Content Strategist at <a class="font-bold transition-colors duration-300 ease-in-out border-b-2 border-cyan-400 text-cyan-400 hover:text-white hover:bg-cyan-500 hover:border-cyan-500 focus:border-cyan-500 focus:bg-cyan-500 focus:text-white" href="https://getprosource.com/" rel="noopener noreferer nofollow">ProSource</a>.
      </p>
    </section>
  </main>
</body>
</html>
