---
import MainHead from '../components/MainHead.astro';

let title = 'Multimedia Swiss Army knife';
---
<html class="h-full" lang="en">
<head>
  <MainHead title={title} />
</head>
<body class="min-h-screen">
  <header>
    <nav class="container">
      <ul>
        <li >
          <a rel="noopener noreferer nofollow" href="https://twitter.com/jmaeatmontho">Twitter</a>
        </li>
        <li>
          <a rel="noopener noreferer nofollow" href="https://www.linkedin.com/in/jmaeatmon/">LinkedIn</a>
        </li>
        <li>
          <a rel="noopener noreferer nofollow" href="https://soundcloud.com/meatcrayon">Soundcloud</a>
        </li>
        <li>
          <a rel="noopener noreferer nofollow" href="https://github.com/johnnytest4real">GitHub</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="container">
      <h1>
        Hi, I’m John Eatmon.
      </h1>
      <p>Print/illustration, web design, and interaction design. Content Strategist at <a href="https://getprosource.com/" rel="noopener noreferer nofollow">ProSource</a>.</p>
    </section>
  </main>
  <footer>
    <p>2021 &mdash; These rights aren’t worth reserving.</p>
  </footer>
</body>
</html>
