---
import BaseLayout from '../layouts/BaseLayout.astro';
// import { Icon } from 'astro-icon';
---

<BaseLayout>
  <section class="wrapper--primary" aria-label="Intro">
    <div class="container hero">
      <h1>Hi, I’m John, mediocre web developer and caffeine enthusiast living in the PNW. I currently do Content Strategy for Orlando-based IT firm <a href="https://www.getprosource.com/" rel="nofollow noreferer noopener">ProSource</a>.</h1>
    </div>
  </section>
</BaseLayout>
