---
import BaseLayout from '@layouts/BaseLayout.astro';
import PostPreview from '@components/PostPreview.astro';

const title = 'Content Strategy & Miscellany';
const description =
	'I’m a front-end web developer, designer, and content strategist living in Tacoma, WA.';
---

<BaseLayout {title} {description}>
	<section class="hero" aria-labelledby="#title">
		<h1 id="title">Projects</h1>
		<small class="count"> Coming soon </small>
	</section>
</BaseLayout>
