<footer>
	<small>
		Copyright &copy; <span id="year"></span> J.M.A. Eatmon &middot; <a href="/about#colophon"
			>Colophon</a
		> &middot;
		<a href={new URL('sitemap.xml', Astro.site).href}>Sitemap</a>
	</small>
</footer>

<script>
	const year = document.querySelector('#year');
	year.innerHTML = new Date().getFullYear().toString();
</script>
