---
import Icon from 'astro-icon';
---

<nav id="footer-navigation">
  <ul>
    <li><a href="/">🦙</a> &copy; {new Date().getFullYear()}</li>
  </ul>
  <ul>
    <li>
      <a
        href="https://www.cnet.com/tech/services-and-software/deactivating-your-facebook-account-isnt-enough-you-need-to-delete-it-permanently/"
        data-tooltip="Fuck no!"
        class="secondary"
        rel="nofollow noopener noreferer"
      >
        <Icon pack="bi" name="facebook" />
      </a>
    </li>
    <li>
      <a href="https://news.northeastern.edu/2021/09/20/negative-effects-of-instagram/" data-tooltip="Abso-fucking-lutely not!" class="secondary" rel="nofollow noopener noreferer">
        <Icon pack="bi" name="instagram" />
      </a>
    </li>
    <li>
      <a href="https://twitter.com/johnnycahce_" data-tooltip="Yep!" class="secondary" rel="nofollow noopener noreferer">
        <Icon pack="bi" name="twitter" />
      </a>
    </li>
    <li>
      <a href="https://github.com/johnnytest4real" data-tooltip="Of course!" class="secondary" rel="nofollow noopener noreferer">
        <Icon pack="bi" name="github" />
      </a>
    </li>
    <li>
      <a href="https://read.cv/jmaeatmon" data-tooltip="Resume" class="secondary" rel="nofollow noopener noreferer">
        <Icon pack="bi" name="file-earmark-person-fill" />
      </a>
    </li>
  </ul>
</nav>
