---
const links = [
	{
		label: 'Writing',
		href: '/posts',
	},
	{
		label: 'Hikes',
		href: '/hikes',
	},
	{
		label: 'Work',
		href: '/work',
	},
	{
		label: 'About',
		href: '/about',
	},
];
---

<header class='wrapper'>
	<nav>
		<a href='/' class='site-title'>
			<strong>J.M.A. Eatmon</strong>
		</a>
		<ul role='list'>
			{links.map((link) => (
				<li>
					<a href={link.href} rel="prefetch">
						{link.label}
					</a>
				</li>
			))}
		</ul>
	</nav>
</header>

<style>
	header {
		padding-block: 2rem;
		/* border-bottom: 1px solid hsl(var(--color-copy), 0.1); */
	}

	nav {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-end;
		gap: 2rem;
	}

	ul {
		padding: 0;
		list-style: none;
		display: flex;
		gap: clamp(1rem, 2vw + 0.5rem, 2rem);
	}
</style>
