<div class="wrapper--primary">
  <nav class="primary">
    <p>
      <a class="brand" href="/">John Eatmon</a>
      <br />
      UX, Content Strategy
    </p>
    <ul role="list">
      <li><a href="/blog">Ramblings</a></li>
      <li><a href="#">Digital Garden</a></li>
      <li><a href="#">Work</a></li>
      <li><a href="#">About Me</a></li>
    </ul>
  </nav>
</div>
