---
import { machineDate, readableDate } from '@scripts/dates';

export interface Props {
	post: any;
}

const { post } = Astro.props as Props;
---

<div class="post">
	<a href={post.url}>
		<h3>
			{post.frontmatter.title}
		</h3>
	</a>
	<small>
		<time datetime={machineDate(post.frontmatter.published)}>
			{readableDate(post.frontmatter.published)}
		</time>
	</small>
</div>

<style>
	.post {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		flex-wrap: wrap;
		padding-block: 1rem;

		& h3 {
			font-size: var(--type-step-1);
		}
	}

	.post:not(:last-child) {
		border-bottom: 1px dashed hsl(var(--color-copy), 0.1);
	}
</style>
