---
export interface Props {
	project: any;
}

const { project } = Astro.props as Props;

const tags = project.frontmatter.tags;
---

<a href={project.frontmatter.redirect ?? project.url} class='project'>
	{project.frontmatter.image && (
		<Img
			src={project.frontmatter.image.href}
			alt={project.frontmatter.image.alt}
			preload="avif"
			loading="lazy"
			width={1024}
			height={768}
			placeholder="none"
		/>
	)}
	<h3>{project.frontmatter.title}</h3><br />
	<small class="roles">
		{tags
			? tags.map((tag) => (
					<span>{tag}</span>
					<span class="divider">,&nbsp;</span>
			  ))
			: project.frontmatter.description}
	</small>
</a>

<style>
	.project {
		text-decoration: none;

		& * {
			opacity: 0.9;
		}

		&:hover * {
			opacity: 1;
		}

		& h3 {
			display: inline-block;
			margin-top: 1rem;
			font-size: 1rem;
		}
	}
</style>
