---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
  <head>
    <BaseHead />
  </head>

  <body>
    <header>
      <Header />
    </header>

    <main id="main">
      <slot />
    </main>

    <footer>
      <!-- <Footer /> -->
    </footer>
  </body>
</html>
